---
import { getCollection } from "astro:content";

import Layout from "./Layout.astro";
import PostList from "../components/blog/PostList.astro";
import type { InferEntrySchema } from "astro:content";
import type { RenderedContent } from "astro:content";

export type PostList = {
  id: string;
  body?: string;
  collection: "blog";
  data: InferEntrySchema<"blog">;
  rendered?: RenderedContent;
  filePath?: string;
}[];

const { title, selectedBlogSector } = Astro.props;

const description =
  selectedBlogSector === "technical"
    ? "Technical writing and programming notes by Christian Ohanaja."
    : selectedBlogSector === "extras"
      ? "Data structures notes by Christian Ohanaja."
      : "Blog posts by Christian Ohanaja.";

const allPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const posts = allPosts.filter(
  (post) => post.data.sector === selectedBlogSector,
);

const structuredItems = posts.map((post) => ({
  name: post.data.title,
  url: new URL(`/blog/${post.id}/`, Astro.site).href,
}));
---

<Layout
  title={title}
  description={description}
  schemaType="CollectionPage"
  items={structuredItems}
>
  <div
    class="prose-lg prose-a:underline prose-a:text-[#774522] dark:prose-a:text-orange-300 prose-a:underline-offset-4 prose-a:decoration-1 dark:prose-invert text-gray-900 subpixel-antialiased max-sm:mt-4 dark:text-gray-50"
  >
    <div>
      <slot name="desc" />
    </div>

    <div id="posts">
      <PostList slot="general" posts={posts} />
    </div>
  </div>
</Layout>
